<!DOCTYPE html>

<html>
<head>
    <title>About Me</title>
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
<div class="main-content">
    {{>header}}
    <img src="/img/tanjiro_on_mask.jpg" class="portrait">
</div>

{{>footer}}
</body>
</html>