<!DOCTYPE html>

<html>
<head>
    <title>Weather</title>
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
<div class="main-content">
    {{>header}}
    <form>
        <input placeholder="Location"> 
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
</div>

{{>footer}}
<script src="js/app.js" tye="javascript"></script>
</body>
</html>