body{
    font-family:arial;
    width:650px;
    color:#333333;
    margin:0 auto;
    padding:0 16px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;

}

.main-content{
flex-grow : 1;
}

header{
    margin-bottom:48px;
    padding-top:16px;
}

header a {
    text-decoration:none;
    padding-right:16px;
    color:#888888;
    cursor:pointer;
}

header h1{
    font-size:64px;
    margin-bottom:16px;
}

.portrait{
    width:250px;
}

input{
    padding:8px;
    border:1px solid #888888;  
}

button{
    padding:8px;
    color:white;
    background-color:#888888;
    border:1px solid #888888;
    cursor:pointer;
}